<div class="card card-detail">
  <%= form_with model: @user, class: "pure-form pure-form-stacked card-form" do |form| %>
    <h2>Create a New Account</h2>
    <%= form.label :username %>
    <%= form.text_field :username, class: "pure-input-1", placeholder: "Enter a username..." %>

    <%= form.label :password %>
    <%= form.password_field :password, class: "pure-input-1", placeholder: "Enter a password..." %>

    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "pure-input-1", placeholder: "Please enter your password again..." %>

    <button type="submit" class="pure-button pure-button-primary" id="submit-form-btn">Create account</button>

    <a href="/" class="pure-form-message" id="add-form-cancel-link">Cancel</a>
  <% end %>
</div>

