<%= form_with model: @user, class: "one-column user-form" do |form| %>
  <h2>Create New Account</h2>

  <%= form.label :username %>
  <%= form.text_field :username, value: session[:username_entered], placeholder: "Must contain at least 3 characters" %><br>

  <%= form.label :password %>
  <%= form.password_field :password, placeholder: "Must contain at least 8 characters" %><br>

  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation, placeholder: "Re-enter your password" %><br>

  <%= form.submit "Create Account" %><br>

  <%= link_to "Cancel", root_path %>
<% end %>
