<%= form_with model: @user do |form| %>
  <h2>Create a New Account</h2>

  <%= form.label :username %>
  <%= form.text_field :username, placeholder: "Enter a username", value: session[:username_entered] %>

  <%= form.label :password %>
  <%= form.password_field :password, placeholder: "Enter a password" %>

  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation, placeholder: "Enter your password again" %>

  <%= form.submit "Create Account" %>

  <%= link_to "Cancel", root_path %>
<% end %>