

<%= form_with model: @win, url: user_win_path, method: :patch, local: true, class: "one-column" do |form| %>
  <h2>Edit Win</h2>
  <%= form.label :title %>
  <%= form.text_field :title, value: session[:title] || @win.title %><br>

  <%= form.label :description %>
  <%= form.text_area :description, value: session[:description] || @win.description %><br>

  <%= form.label :category %>
  <%= form.select :category, ['kudos', 'learning', 'milestone', 'project', 'other'], selected: session[:category] || @win.category %><br>

  <%= form.label "Date completed" %>
  <%= form.date_select :accomplished_date, order: [:day, :month, :year], use_short_month: true, selected: populate_date || @win.accomplished_date %><br>

  <%= form.submit %><br>
  <%= link_to "Cancel", cancel_path %>
<% end %>



