<h2>My Wins</h2>
<menu>
  <%= link_to "Add win", new_user_win_path(@user) %>
</menu>

<section id="card-container">
  <% if @wins.empty? %>
    <p>It looks like you haven't added any wins yet.</p>
  <% else %>
    <% @wins.each do |win| %>
      <%= link_to user_win_path(id: win.id) do %>
      <article class="card <%= win.category %>">
        <span class="card-logo">
          <%= image_tag("card-icon-#{win.category}.png", alt: "profile icon", class: "medium-icon card-icon" ) %>
          <h4 class="card-category"><%= win.category %></h4>
        </span>
        <p class="card-date"><%= format_date(win.accomplished_date) %></p>
        <h3 class="card-title"><%= win.title %></h3>
      </article>
      <% end %>
    <% end %>
  <% end %>
</section>
