<h2>My Wins</h2>

<% if !@wins.empty? %>
  <menu id="filter-container">
    <h3>Filter</h3>
    <%= form_with(url: filter_path, method: :post, id: "wins-filter") do |form| %>
      <fieldset id="date-filter">
        <%= form.label :from %>
        <%= form.date_select :date_start, order: [:day, :month, :year], use_short_month: true, selected: Date.parse(session[:date_start]) %>

        <%= form.label :to %>
        <%= form.date_select :date_end, order: [:day, :month, :year], use_short_month: true, selected: Date.parse(session[:date_end]) %>
      </fieldset>

      <%= form.submit "Filter", id: "submit-filter-btn" %>
      <%= link_to "Reset", reset_filter_path %>
    <% end %>
  </menu>
<% end %>

<section id="win-summary">
    <p>Results: <%= pluralize(session[:total_filtered_wins], "win") %></p>
    <%= button_to "+ Add win", new_user_win_path(@user), method: :get , id: "add-win-btn" %>
</section>

<section id="card-container">
  <% if @wins.empty? %>
    <p>It looks like you haven't added any wins yet.</p>
  <% else %>
    <% @wins.each do |win| %>
      <%= link_to user_win_path(id: win.id) do %>
      <article class="card <%= win.category %>">
        <div class="card-logo">
          <%= image_tag("card-icon-#{win.category}.png", alt: "profile icon", class: "medium-icon card-icon" ) %>
          <h4 class="card-category"><%= win.category %></h4>
        </div>
        <p class="card-date"><%= format_date(win.accomplished_date) %></p>
        <h3 class="card-title"><%= win.title %></h3>
      </article>
      <% end %>
    <% end %>
  <% end %>
</section>

<%= pagy_nav(@pagy).html_safe %>
