<h2>My Wins</h2>
<menu id="filter-panel">
  <%= form_with(url: user_wins_path, method: :get) do |form| %>
    <h3>Filter</h3>

    <%= form.label :from %>
    <%= form.date_select :from, order: [:day, :month, :year], use_short_month: true, default: session[:earliest_win_date] %><br>

    <%= form.label :to %>
    <%= form.date_select :to, order: [:day, :month, :year], use_short_month: true, default: session[:latest_win_date] %><br>

    <%= form.submit "Filter wins" %><br>

    <%= link_to "Reset filter" %>

<% end %>
</menu>


<menu id="wins-menu">
  <%= link_to "#", id: "filter-panel-btn" do %>
    <%= image_tag "filter-icon.png", class: "small-icon" %>
  <% end %>
    
  <p>Results: <%= pluralize(session[:total_filtered_wins], "win") %></p>
  <%= button_to "+ Add win", new_user_win_path(@user), method: :get , id: "add-win-btn" %>
</menu>

<section id="card-container">
  <% if @wins.empty? %>
    <p>It looks like you haven't added any wins yet.</p>
  <% else %>
    <% @wins.each do |win| %>
      <%= link_to user_win_path(id: win.id) do %>
      <article class="card <%= win.category %>">
        <div class="card-logo">
          <%= image_tag("card-icon-#{win.category}.png", alt: "profile icon", class: "medium-icon card-icon" ) %>
          <h4 class="card-category"><%= win.category %></h4>
        </div>
        <p class="card-date"><%= format_date(win.accomplished_date) %></p>
        <h3 class="card-title"><%= win.title %></h3>
      </article>
      <% end %>
    <% end %>
  <% end %>
</section>

<%= pagy_nav(@pagy).html_safe %>

