<%= content_for :head do %>
  <%= javascript_import_module_tag "common" %>
<% end %>

<h2>My Wins</h2>

<menu id="filter-container" class="hide">
  <%= button_tag "✕", id: "close-filter-btn" %>

  <h3>Filter</h3>
  <%= form_with(url: filter_path, method: :post, id: "wins-filter") do |form| %>
    <fieldset id="date-filter">
      <%= form.label :from %>
      <%= form.date_select :date_start, options = { order: [:day, :month, :year], use_short_month: true, selected: Date.parse(session[:date_start]), start_year: Date.today.year - 5, end_year: Date.today.year } %>

      <%= form.label :to %>
      <%= form.date_select :date_end, options = { order: [:day, :month, :year], use_short_month: true, selected: Date.parse(session[:date_end]), start_year: Date.today.year - 5, end_year: Date.today.year } %>
    </fieldset>

    <fieldset id="sort-by-filter">
      <%= form.label :sort_by %>
      <%= form.select :sort_by, ['newest first', 'oldest first'], selected: populate_sort_by %>
    </fieldset>

    <fieldset id="category-filter">
      <%= form.label :category %>
      <% @categories.each do |category| %>
        <span class="checkbox-option">
          <%= check_box_tag(category, 1, session[:categories].include?(category)) %>
          <%= label_tag(category, category) %>
        </span>
      <% end %>
    </fieldset>

    <fieldset id="query-filter">
      <%= form.label :query, "Filter by keyword" %>
      <%= form.text_field :query %>
    </fieldset>

    <%= form.submit "Filter", id: "submit-filter-btn" %>
    <%= link_to "Reset", reset_filter_path, id: "reset-filter-btn" %>
  <% end %>
</menu>

<%= button_tag image_tag("filter-icon.png", class: "small-icon"), id: "open-filter-btn" %>

<section id="win-summary">
    <p>Results: <%= pluralize(session[:total_filtered_wins], "win") %></p>
    <p id="query-description"><% if session[:query].length > 1 %>Title or description include: "<%= session[:query] %>"<% end %></p>
    <%= button_to "+ Add win", new_user_win_path(@user), method: :get , id: "add-win-btn" %>
</section>

<section id="card-container">
  <% @wins.each do |win| %>
    <%= link_to user_win_path(id: win.id) do %>
    <article class="card <%= win.category %>">
      <div class="card-logo">
        <%= image_tag("card-icon-#{win.category}.png", alt: "profile icon", class: "medium-icon card-icon" ) %>
        <h4 class="card-category"><%= win.category %></h4>
      </div>
      <p class="card-date"><%= format_date(win.accomplished_date) %></p>
      <h3 class="card-title"><%= win.title %></h3>
    </article>
    <% end %>
  <% end %>
</section>

<%= pagy_nav(@pagy).html_safe %>